.navBarCss {
  background: transparent;
  border-left: 1px solid transparent;
}

.navBarCss:hover {
  background: transparent;
  transform: scale(1.1);
  border-left: 8px solid #48bb78;
}
.navBarCssOther {
  background: transparent;
  border-left: 1px solid transparent;
}
.navBarCssOther:hover {
  background: transparent;
  transform: scale(1.1);
  border-left: 8px solid #48bb78;
}
